<template name="nav">

  <div class="container">
    <div class="row">
      {{> atNavButton}} Logged in as: {{#if currentUser}} {{userMail}} {{/if}}
    </div>
    <div class="row">
      <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="{{isActiveRoute regex='index'}}"><a href="{{pathFor 'index'}}">Index</a></li>
        <li role="presentation" class="{{isActiveRoute regex='trainer'}}"><a href="{{pathFor 'trainer'}}">Trainer</a></li>
        <li role="presentation" class="{{isActiveRoute regex='favouriten'}}"><a href="{{pathFor 'favouriten'}}">Favouriten</a></li>
        <li role="presentation" class="{{isActiveRoute regex='vokabelregister'}}"><a href="{{pathFor 'vokabelregister'}}">Vokabelregister</a></li>
      </ul>
    </div>
  </div>

</template>
