<template name="navModeTrainer">
		<br>
		<div class="text-center spaced">
			<h3>Methode</h3>
			<button class="ui fluid large button btn-lesen {{#if getSession "lesen"}}active primary{{/if}}"><i class="icon book"></i> Lesen</button>
			<button class="ui fluid large button btn-wort {{#if getSession "wort"}}active primary{{/if}}"><i class="icon adjust"></i> Rate Wort</button>
			<button class="ui fluid large button btn-definition {{#if getSession "definition"}}active primary{{/if}}"><i class="icon adjust horizontally flipped"></i> Rate Definition</button>
			<button class="ui fluid large button btn-eingabe {{#if getSession "eingabe"}}active primary{{/if}}"><i class="icon terminal"></i> Eingabetest</button>
		</div>

</template>
