<template name="navSource">
		<div class="row text-center">
				<button type="button" class="btn btn-standard-2 btn-source">
					Woerter aus: {{source}}
					{{#if getSession 'sourceFavourites'}}
						<span class="label label-default">{{getSession "lengthFav"}}</span>
					{{else}}
						<span class="label label-default">{{getSession "lengthNotFav"}}</span>
					{{/if}}
				</button>
				{{#unless getSession "lengthFav"}}<span class="label label-warning">Kein Eintrag in Favoritenliste</span>{{/unless}}
				{{#unless getSession "lengthNotFav"}}<span class="label label-warning">Kein Eintrag in Nicht-Favoritenliste. Alle Woerter sind favorisiert.</span>{{/unless}}
		</div>
</template>
