<template name="navModeTrainer">
	<div class="row text-center">
		<h5 class="widget-title">Option</h5>
			<ul class="list-inline">
				<li><button type="button" class="btn btn-lesen btn-standard-1 {{#if getSession "lesen"}}active{{/if}}">Lesen</button></li>
				<li><button type="button" class="btn btn-wort btn-standard-1 {{#if getSession "wort"}}active{{/if}}">Wort</button></li>
				<li><button type="button" class="btn btn-definition btn-standard-1 {{#if getSession "definition"}}active{{/if}}">Definition</button></li>
				<li><button type="button" class="btn btn-eingabe btn-standard-1 {{#if getSession "eingabe"}}active{{/if}}">Eingabe</button></li>
			</ul>
	</div>
</template>
