<template name="navLow">
	<div class="row">
		<!-- Button trigger modal -->
		<div class="btn-settings-low">
			<div id="call-modal-settings" class="ui icon header low btn-browse-low">
				<i class="setting icon"></i>
				<div class="content">
					EINSTELLUNGEN
				</div>
			</div>
		</div>


		<div id="modal-settings" class="ui basic modal">
		  <i class="close big icon fluid"></i>
		  <div class="header">
		    Einstellungen
		  </div>
			<div class="content">
				{{> navMode }}
				{{> navSource }}
				{{> navOrderTrainer }}
		  </div>
		</div>

		<!-- Modal -->
		<!-- <div class="modal fade" id="settingsLow" tabindex="-1" role="dialog" aria-labelledby="settingsLowLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title control-label" id="settingsLowLabel">Einstellungen</h4>
					</div>
					<div class="modal-body">
						{{> navMode }}
						{{> navSource }}
						{{> navOrderTrainer }}
					</div>

				</div>
			</div>
		</div> -->
	</div>


</template>
