<template name="navSource">
	<br>
		<div class="text-center spaced">
			<h3>Quelle</h3>
			<button class="ui fluid huge button btn-source active primary">
				{{#if getSession 'navSourceAll'}}
					<i class="icon empty heart"></i><i class="icon plus"></i><i class="icon heart"></i> Alle
				{{/if}}
				{{#if getSession 'navSourceNotFav'}}
					<i class="icon empty heart"></i> Alle ohne Favoriten
					<span class="ui label">{{getSession "lengthNotFav"}}</span>
				{{/if}}
				{{#if getSession 'navSourceFav'}}
					<i class="icon heart"></i> Favoriten
					<span class="ui label">{{getSession "lengthFav"}}</span>
				{{/if}}
			</button>
			{{#unless getSession "lengthFav"}}
			<div class="ui red message text-center">
				Keine Favoriten gespeichert.
			</div>
			{{/unless}}
		</div>

</template>
