<template name="navSourceTrainer">
	<div class="row text-center">
		<h5 class="widget-title">Quelle</h5>
		<ul class="list-inline">
			{{#if getSession "lengthFav"}}
				<li><button type="button" class="btn btn-source-fav btn-standard-1 {{#if getSession "sourceFavourites"}}active{{/if}}">Favouriten <span class="sup">({{getSession "lengthFav"}})</span></button></li>
			{{/if}}
			{{#if getSession "lengthNotFav"}}
				<li><button type="button" class="btn btn-source-not-fav btn-standard-1 {{#unless getSession "sourceFavourites"}}active{{/unless}}">Nicht-Favouriten <span class="sup">({{getSession "lengthNotFav"}})</span></button></li>
			{{/if}}
		</ul>
	</div>
</template>
