<template name="navSourceTrainer">
	<br>
	<div class="text-center spaced">
		<h3>Quelle</h3>

		<button class="ui fluid large button btn-source-all {{#if getSession "navSourceAll"}}active primary{{/if}}"><i class="icon empty heart"></i><i class="icon plus"></i><i class="icon heart"></i> Alle</button>
		{{#if getSession "lengthFav"}}
		<button class="ui fluid large button btn-source-fav {{#if getSession "navSourceFav"}}active primary{{/if}}">
			<i class="icon heart"></i>
				Favoriten
				<span class="ui label">{{getSession "lengthFav"}}</span>
		</button>

			{{#if getSession "lengthNotFav"}}
			<button class="ui fluid large button btn-source-not-fav {{#if getSession "navSourceNotFav"}}active primary{{/if}}">
				<i class="icon empty heart"></i>
				Alle ohne Favoriten
				<div class="ui label">{{getSession "lengthNotFav"}}</div>
			</button>
			{{/if}}

		{{/if}}

	</div>

</template>
