<template name="navStatistics">

  <div class="container">
    <div class="row">
      <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="{{isActiveRoute regex='device'}}"><a href="{{pathFor 'device'}}">Device</a></li>
        <li role="presentation" class="{{isActiveRoute regex='mode'}}"><a href="{{pathFor 'mode'}}">Mode</a></li>
        <li role="presentation" class="{{isActiveRoute regex='status'}}"><a href="{{pathFor 'status'}}">Status</a></li>
        <li role="presentation" class="{{isActiveRoute regex='total'}}"><a href="{{pathFor 'total'}}">Total</a></li>
      </ul>
    </div>
  </div>

</template>
