<template name="modusDefinitionLow">

	<div>
		<br>
		<h1 class="low">{{ term }}{{#if preposition}} <i>{{ preposition }}</i>{{/if}}</h1>
		<br>
	</div>
	<div class="ui horizontal divider low fadeInUp animated">
		{{ wordClass }}
	</div>
	{{#unless getSession "revealed"}}
		<br>
		<div class="ui icon header low btn-browse-low btn-reveal">
			<i class="question low middle icon"></i>
			<br>
			<div class="low middle content">
				LÖSUNG ANZEIGEN
			</div>
		</div>
	{{else}}
		<div class="fadeIn animated">
			<br>
			<div class="ui selection list">
				{{#each definition}}
				<div class="left aligned">
					<div class="ui small horizontal statistic">
						<div class="value low">
							{{convertIndex @index}}
						</div>
						<div class="trainer-definition low">
							{{this}}
						</div>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	{{/unless}}


</template>
