<template name="modusLesenLow">

				<p>
					{{#if isFav this._id}}
					<div class="button btn-red btn-delete flipInY animated">
						<i class="icon-fav-{{_id}} fa fa-heart fa-4x"></i>
					</div>
					{{else}}
					<div class="button btn-red btn-insert flipInY animated">
						<i class="icon-not-fav-{{_id}} fa fa-heart-o fa-4x"></i>
					</div>
					{{/if}}
				</p>
			<br>
			<br>

			<div>
				<br>
				<h1 class="low">{{ term }}{{#if preposition}} <i>{{ preposition }}</i>{{/if}}</h1>
				<br>
			</div>
			<div class="ui horizontal divider low fadeInUp animated">
				{{ wordClass }}
			</div>
			<div>
				<br>
				<div class="ui selection list">
					{{#each definition}}
					<div class="left aligned">
						<div class="ui small horizontal statistic">
							<div class="value low">
								{{convertIndex @index}}
							</div>
							<div class="trainer-definition low">
								{{this}}
							</div>
						</div>
					</div>
					{{/each}}
				</div>
			</div>
</template>
