<template name="modusWort">
	<div class="jumbotron">
		<div class="text-center media-middle">
			{{#if lengthIsOne}}<span class="label label-warning text-center">Letzter Eintrag in {{#if getSession "sourceFavourites"}}Favoriten{{else}}Nicht-Favoriten{{/if}}</span>{{/if}}

			{{#unless getSession "revealed"}}
			<div class="btn-reveal">
				<i class="fa fa-question fa-4x"></i><span class="label label-info">Gesucht: Wort</span>
			</div>
			{{else}}
				<h2>
					{{ term }}
				</h2>
			{{/unless}}
		</div>

		<hr>

		<h3>
		<ol>
			<li>{{ description }}</li>
		</ol>
	</h3>
	<div class="text-center">
		<div class="btn-example" data-toggle="collapse" data-target="#example">
			{{#unless getSession "example"}}
				<i class="fa fa-plus-square-o fa-4x"></i>
			{{else}}
				<i class="fa fa-minus-square-o fa-4x"></i>
			{{/unless}}
		</div>
	</div>
	<div id="example" class="collapse">
		<h3>Beispiel:</h3>
		<ol>
			<li><h4>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</h4> </li>
			<li><h4>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</h4> </li>
		</ol>
	</div>
	</div>
</template>
