<template name="modusLesenLow">

		<div class="row text-center">
			<p>
				{{#if lengthIsOne}}<span class="flag animate-box fadeInUp animated">Letzter Eintrag in {{#if getSession "sourceFavourites"}}Favoriten{{else}}Nicht-Favoriten{{/if}}</span>{{/if}}
			</p>
			<p>
				{{#if getSession "sourceFavourites"}}
				<div class="btn-delete fadeIn animated">
					<i class="fa fa-trash-o fa-4x"></i>
				</div>
				{{else}}
				<div class="btn-insert fadeIn animated">
					<i class="fa fa-heart-o fa-4x"></i>
				</div>
				{{/if}}
			</p>
			<br>
			<p class="trainer-word-class fadeInUp animated">
				{{ wordClass }}
			</p>
			<br>
			<h2 class="trainer-title">{{ term }}{{#if preposition}} <span class="trainer-preposition"><i>{{ preposition }}</i></span>{{/if}}</h2>
			<br>
			<div class="trainer-definition">
				<ol>
					{{#each definition}}
					<li><span class="rwd-line">{{this}}</span>  </li>
					{{/each}}
				</ol>
			</div>
		</div>

</template>
