<template name="fragebogen">
	<div class="container survey">
		<h1>Fragebogen</h1>
		<!-- {{> quickForm collection="Data.Survey" id="insertSurveyForm" type="insert"}} -->
		{{#autoForm collection="Data.Survey" id="insertSurveyForm" type="insert"}}
		<fieldset>
		<legend>Allgemein</legend>
		{{> afQuickField name='age'}}
		{{> afQuickField name='previousExperience'}}
		{{> afQuickField name='learningCurve'}}
		<hr>
		{{> afQuickField name='everydayUse'}}
		{{> afQuickField name='everydayUseText'}}
		<hr>
		{{> afQuickField name='usability'}}
		{{> afQuickField name='usabilityText'}}

		<legend>Nutzung</legend>
		Ich habe die App am haeufigsten ueber ein ...
		{{> afQuickField name='deviceMobile'}}
		{{> afQuickField name='deviceTablet'}}
		{{> afQuickField name='deviceDesktop'}}
		{{> afQuickField name='deviceBehavior'}}
		<hr>
		{{> afQuickField name='favouriteMode'}}
		{{> afQuickField name='favouriteModeText'}}
		{{> afQuickField name='modeEnter'}}
		<hr>
		{{> afQuickField name='attentionBenefit'}}
		<hr>
		{{> afQuickField name='attentionBehavior'}}
		{{> afQuickField name='attentionBehaviorText'}}
		<hr>
		{{> afQuickField name='attentionSituation'}}
		<hr>
		{{> afQuickField name='attentionUse'}}
		{{> afQuickField name='attentionUseText'}}
		<hr>
		{{> afQuickField name='prospects'}}
	</fieldset>

		<div>
			<p class="category-definition">
				Du kannst den Fragebogen nur einmal abschicken.
			</p> <br>
			<button type="submit" class="btn btn-standard-1">Abschicken</button>
		</div>
		{{/autoForm}}
	</div>
</template>
