<template name="feedback">
	{{#if Template.subscriptionsReady}}
	<div class="container">
		<div class="row">
			<h4>online: {{usersCountOnline}} von {{usersCount}} </h4>
			{{#each users}}
				<span class="ui label {{labelClass}}">{{email}}</span>
			{{/each}}
			<hr>
			<h4>Fragebogen abgeschickt: {{usersSurveySubmittedCount}} von {{usersCount}} </h4>
			{{#each usersSurveySubmitted}}
				<span class="ui label green">{{userMail}}</span>
			{{/each}}
			<hr>
		</div>

		<h1>Feedback</h1>

		{{#each feedback}}
		<div class="column">
			<div class="ui top attached block header">{{ userMail }} | {{ createdAt }}</div>
			<div class="ui bottom attached segment">
				{{ message }}
			</div>
		</div>
		<br>
		{{/each}}
	</div>
	{{else}}
		{{> loading}}
	{{/if}}
</template>
