<template name="index">

  <div class="ui container">
    <div class="ui one column grid">
      <div class="column">
        <div class="ui labeled button logout" tabindex="0">
          {{> atNavButton}}
          <div class="ui basic label">
                    {{#if currentUser}}Angemeldet als: {{currentUserMail}} {{/if}}
                  </div>
        </div>
        {{#if isInRole 'admin'}}
        <a class="{{isActiveRoute regex='verwaltung'}}" href="{{pathFor 'verwaltung'}}">
          <button class="ui button">Verwaltung</button>
        </a>
        {{/if}}
      </div>

    </div>
  </div>

  <br>
  <br>

  {{#if getSession "surveyUnlocked"}}
    {{#unless surveySubmitted}}
      <div class="ui container two column stackable grid">
        <div class="ten wide column center aligned">
          {{> termDay}}
        </div>
        <div class="six wide column">
          {{> msgFragebogen}}
        </div>
      </div>
      {{else}}
      <div class="ui text container">
        {{> termDay}}
      </div>
    {{/unless}}
  {{/if}}
    <div class="ui container two column stackable grid">
      <div class="ten wide column">
        {{> docWidget}}

      </div>
      <div class="six wide column">

        {{> wordsAll}}
        {{> wordsUser}}
      </div>
    </div>
    <div class="ui container one column grid">
      <div class="sixteen wide column">
        {{> feedbackClient}}
      </div>
    </div>

</template>
