<template name="index">

  <div class="container">
    <br>
    {{#unless surveySubmitted}}
    <br>
    <p class="alert alert-info">Bitte fuelle den Fragebogen aus. Du hast bis zum 03. Juli 2016 dafuer Zeit. Nur mit ausgefuellten Fragebogen ist deine Teilnahme gueltig.
      <a class="btn btn-default btn-question" href="{{pathFor 'fragebogen'}}">Fragebogen</a>
    </p>
    {{/unless}}
    <br>

    <!-- {{#each dataDetail1}} <br> {{mode}} {{/each}} -->

    <!-- {{> chartFavLine }} -->




<h3>TOP 5 - Nachgeschlagene Begriffe</h3>

<div class="row">
  <div class="col-sm-6">
    {{> wordsAll }}
  </div>
  <div class="col-sm-6">
    {{> wordsUser }}
  </div>
</div>

    <h4>TODO: </h4>
    <ul>
      <li>Vocabulary of the day</li>
    </ul>

    {{> feedbackClient}}

    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
      sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
    </p>


  </div>

</template>
