<template name="index">

  <div class="container">
    <div class="row">
    <span class="categories">{{#if currentUser}}Angemeldet als: {{currentUserMail}} {{/if}}</span>
    </div>
    <div class="row">
      {{#unless surveySubmitted}}
      <br>
      <div class="archive-box">
        <p>
          Bitte fuelle den Fragebogen aus. Du hast bis zum 03. Juli 2016 dafuer Zeit. Nur mit ausgefuellten Fragebogen ist deine Teilnahme gueltig.
        </p>
        <a class="btn btn-standard-1 btn-question" href="{{pathFor 'fragebogen'}}">Fragebogen</a>
      </div>
      {{/unless}}
      <br>

    </div>
    <div class="row">
      {{> termDay }}
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-sm-8">
        <div class="row offset-1">
          {{> faqWidget}}
        </div>
        <div class="row offset-1">
          {{> feedbackClient}}
        </div>
      </div>
      <div class="col-sm-4 ">
        <p class="categories text-center">
          Beliebte Woerter
        </p>
        <div class="row">
          {{> wordsUser }}
        </div>
        <div class="row">
          {{> wordsAll }}
        </div>
      </div>
    </div>

    <br>

  </div>

</template>
