body {
  font-family: "Montserrat", sans-serif;
  color: #232323;
  background-color: #fff font-size: 14px;
  font-weight: 500;
  line-height: 1.8em;
}
html, body {
  height: 100%;
  /*background-color: #333;*/
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: #a69e8c;
}
.survey h1 {
  text-transform: uppercase;
}
legend {
  font-family: "Playfair Display", serif;
  padding: 20px 0;
}
.fill-height-or-more {
  min-height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.fill-height-or-more > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/*.some-area > div {
  padding: 1rem;
}*/
.some-area > div:nth-child(1) {
  flex: 1;
}
.some-area > div:nth-child(2) {}
.some-area > div:nth-child(3) {
  flex: 1;
}
.some-area > div h1, .some-area > div h2 {
  margin: 0 0 0.2rem 0;
}
.some-area > div p {
  margin: 0;
}
.jumbotron .vertical-center {
  margin-bottom: 0;
  /* Remove the default bottom margin of .jumbotron */
}

.btn-ban, .btn.btn-forward.gradient-right-to-left-strong, .btn.btn-backward.gradient-left-to-right-strong {
  padding-left: 35px;
  padding-right: 35px;
}


/* BAR */

.attention-low {
  background-color: #B3CC57;
}
.attention-low .fa {
  color: #77883A;
}
.attention-high {
  background-color: #AB3E5B;
}
.attention-high .fa {
  color: #73283C;
}

/*.attention-mode .fa {
  color: #f47e00;
}*/

.buffer-bar {
  padding-top: 100px;
}
.nav-main {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #9d9d9d;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > li > a {
  color: #eeeded;
}
.navbar-header, nav ul li {
  text-transform: uppercase;
  letter-spacing: 0.01em;
  font-weight: 500;
  line-height: 1em;
  font-size: 14px;
}
#at-nav-button:hover {
  background: transparent;
  color: #eeeded;
  border: 1px solid #9d9d9d;
}
#at-nav-button {
  background: 0;
  color: #eeeded;
  font-size: 12px;
  min-width: 130px;
  padding: 14px 20px;
  letter-spacing: 0.1em;
  border: 1px solid #eeeded;
  text-transform: uppercase;
}
.modal-content {
  border-radius: 0;
}

/* CONTENT */

.body-text {
  color: #565656;
  font-size: 15px;
  margin: 0 0 30px;
  line-height: 2.2em;
  font-family: "Playfair Display", serif;
}
.archive-box {
  font-family: "Playfair Display", serif;
  padding: 20px;
  margin: 0 0 40px;
  text-align: center;
  border: 1px solid #f4f4f4;
  border: 1px solid #D9C298;
  color: #f47e00;
}
.archive-box p {
  margin: 0;
  color: #565656;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.75em;
  letter-spacing: 0.05em;
  margin: 0 0 30px;
}
.categories {
  margin: 0 0 10px;
  color: #808080;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.category-title {
  margin: 0 0 10px;
  font-family: "Playfair Display", serif;
  color: #565656;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.26em;
}
.category-definition {
  margin: 0 20px 0 0;
  color: #a69e8c;
  font-size: 12px;
  letter-spacing: 0.1em;
  display: inline-block;
  text-transform: uppercase;
}
.i-transparent .fa {
  color: transparent;
  background-color: transparent;
}
.trainer-word-class {
  margin: 0 0 10px;
  color: #9D9D9D;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.trainer-title {
  margin: 0 0 10px;
  font-family: "Playfair Display", serif;
  color: #565656;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.26em;
  padding-bottom: 15px;
}
.trainer-preposition {
  color: #9D9D9D;
}
.trainer-definition {
  margin: 0 20px 0 0;
  color: #a69e8c;
  font-size: 15px;
  letter-spacing: 0.1em;
  display: inline-block;
  text-transform: uppercase;
}
.trainer-question, .trainer-exclamation {
  width: 64px;
  height: 64px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  color: #b3ad9e;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  vertical-align: middle;
  padding: 0 0 0 1px;
  margin-top: 24px;
  margin-left: 24px;
  margin-right: 32px;
  margin-bottom: 32px;
  border: 1px solid #e0e0e0;
  -webkit-transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.trainer-question:hover {
  color: #fff;
  background: #b3ad9e;
  border-color: #b3ad9e;
}
.trainer-question:before, .trainer-exclamation:before {
  display: inline-block;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.list-post {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #f0f0f0;
}
.widget-title {
  color: #232323;
  font-size: 12px;
  line-height: 1em;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.widget-title::after {
  content: "";
  display: block;
  max-width: 30px;
  margin: 25px auto 30px;
  border-bottom: 2px solid #232323;
}
.widget ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.widget ul li {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-bottom: 1px solid #f0f0f0;
  padding: 0 0 20px;
  margin: 0 0 20px;
  line-height: 1em;
  font-size: 12px;
  color: #808080;
  display: block;
}
.btn {
  display: inline-block;
  text-align: center;
  line-height: 1em;
  -webkit-transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.btn-default {
  border-radius: 0;
}
.btn:active, .btn.active {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #c9c9c9;
  color: #fff;
}
/*.trainer.btn {
  height: 100%;
}*/
.trainer.btn:focus, .trainer.btn:active:focus, .trainer.btn:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
  outline: none;
  outline-offset: 0;
}
.btn-insert:active, .btn-delete:active {
  background: transparent;
}
.btn-insert, .btn-delete, .fa {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-delay: 0;
  -ms-animation-duration: 0.5s;
  -ms-animation-delay: 0;
  animation-duration: 0.5s;
  animation-delay: 0;
}
.btn.btn-insert .fa, .btn.btn-delete .fa {
  padding: 10px;
}

.btn.btn-insert .fa:hover, .btn.btn-delete .fa:hover, .btn.btn-delete .fa {
  color: #EF746F;
}

.btn-standard-1 {
  font-family: "Montserrat", sans-serif;
  background: 0;
  color: #a69e8c;
  font-size: 12px;
  min-width: 130px;
  padding: 14px 20px;
  margin: 10px 0;
  letter-spacing: 0.1em;
  border: 1px solid #c9c9c9;
  border-radius: 0;
  text-transform: uppercase;
}
.btn-standard-2 {
  font-family: "Montserrat", sans-serif;
  background: 0;
  color: #a69e8c;
  font-size: 15px;
  min-width: 130px;
  padding: 25px 25px;
  margin: 10px 0;
  letter-spacing: 0.1em;
  border: 1px solid #c9c9c9;
  border-radius: 0;
  text-transform: uppercase;
}
.btn-standard-1:hover, .btn-standard-1 .active, .btn-standard-2:hover, .btn-standard-2 .active {
  background: #c9c9c9;
  color: #fff;
}
a {
  color: #333;
  text-decoration: none;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  transition: all 0.15s;
}
a:hover, a:focus, a:active {
  text-decoration: none;
}
a:hover, a:focus {
  color: #a69e8c;
  text-decoration: none;
}
a:active, a:hover {
  outline: 0;
}
.offset-1 {
  margin-right: 4.16666667%;
}
.form-control {
  border-radius: 0;
  box-shadow: none;
}
.form-control:focus {
  border-color: rgb(236, 177, 99);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 0 0 rgba(236, 177, 99, 0.75);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 0 0 rgba(236, 177, 99, 0.75);
}
.input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
  border-radius: 0;
}
.control-label {
  margin: 18px 0;
  padding-left: 10px;
  color: #232323;
  display: block;
  font-size: 13px;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
textarea.form-control {
  min-height: 200px;
}
.jumbotron {
  background-color: #fafafa;
  border: 1px solid #c9c9c9;
  margin-bottom: 0;
}
.jumbotron p {
  font-size: inherit;
}
.jumbotron .low {
  min-width: 100%;
  min-height: 100vh;
  margin-bottom: 0 !important;
  display: table;
}
#jumbotron-header {
  display: table-cell;
  vertical-align: middle;
}
.container .jumbotron, .container-fluid .jumbotron {
  border-radius: 0;
}
.fa {
  color: #b3b3b3;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.flag {
  font-size: 16px;
  color: #ECB163;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.heading {
  font-size: 16px;
  font-family: "Playfair Display", times, serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #cccccc;
  margin-bottom: 30px;
}

/* FRAGEBOGEN - SURVEY */

.survey .form-group {
  margin-bottom: 50px;
}
.survey .control-label {
  text-transform: none;
  font-size: 15px;
  padding-left: 0;
}

/* REGISTER */

.form-wrapper {
  background: #e5e3dd;
  padding: 20px;
}
.panel-heading {
  border-radius: 0;
}
.panel-group .panel {
  border-radius: 0;
}
.story {
  display: block;
  margin: 0 0 20px;
  position: relative;
  padding: 0 0 5% 10%;
  border-bottom: 1px solid #f0f0f0;
}
.story-body {
  padding: 10px 0 0;
  min-height: 85px;
}
.story-body .title {
  color: #797979;
  font-size: 12px;
  line-height: 1.5em;
  text-transform: uppercase;
}
.story-body .preposition {
  color: #9D9D9D;
}
.story-body .definition {
  font-family: "Playfair Display", serif;
  line-height: 1.75em;
  font-size: 14px;
  color: #797979;
}

/* FOOTER */

footer {
  overflow-y: hidden;
  color: #232323;
  font-size: 12px;
  line-height: 1em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.footer-content {
  position: relative;
  padding: 34px 0;
  z-index: 4;
}
.footer-border {
  border-top: 1px solid #c9c9c9;
  margin-top: 34px;
}
footer a {
  color: inherit;
}
footer a:hover {
  color: #a69e8c;
}
footer a:hover, footer a:focus, footer a:active {
  text-decoration: none;
}

/* ANIMATION */

.content-entry {
  -webkit-animation-duration: 0.3s;
  -webkit-animation-delay: 0s;
  -moz-animation-duration: 0.3s;
  -moz-animation-delay: 0s;
  -ms-animation-duration: 0.3s;
  -ms-animation-delay: 0s;
  animation-duration: 0.3s;
  animation-delay: 0;
}
.content-entry .btn:active {
  background: transparent;
}

/* COMPACT MODE */

.gradient-right-to-left-strong, .gradient-left-to-right-strong {
  border: 0;
}
.gradient-right-to-left-strong:hover, .gradient-right-to-left-strong:focus, .gradient-right-to-left-strong:active {
  border: 0;
  background: transparent;
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(216, 216, 216, 0.79) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(216, 216, 216, 0.79) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(216, 216, 216, 0.79) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#73a69e8c', GradientType=1);
  /* IE6-9 */
}
.gradient-left-to-right-strong:hover, .gradient-left-to-right-strong:focus, .gradient-left-to-right-strong:active {
  border: 0;
  background: transparent;
  background: -moz-linear-gradient(left, rgba(216, 216, 216, 0.79) 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(216, 216, 216, 0.79) 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(216, 216, 216, 0.79) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#73a69e8c', endColorstr='#00000000', GradientType=1);
  /* IE6-9 */
}
.btn-forward:hover, .btn-backward:hover {
    cursor:pointer;
    touch-action: manipulation;
}
.btn-forward:hover i, .btn-backward:hover i {
  color: #FFBE40;
}
.low .btn-forward:hover i, .low .btn-backward:hover i {
  color: #FFBE40;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
  .navbar {
    border-radius: 0;
  }
  .navbar-nav > li > a {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .navbar-header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
  .low .flag {
    padding-bottom: 20px;
  }
  .low .trainer-word-class {
    font-size: 16px;
    padding: 30px 30px 0 30px;
  }
  .low .trainer-title {
    font-size: 64px;
  }
  .low .trainer-definition {
    font-size: 21px;
  }
  .low .trainer-definition ol li {
    line-height: 2em;
  }
  .low .trainer-question, .low .trainer-exclamation {
    margin: 40px;
  }
  .low ol {
    padding: 40px;
  }
  .btn-ban, .btn.btn-forward.gradient-right-to-left-strong, .btn.btn-backward.gradient-left-to-right-strong {
    padding-left: 75px;
    padding-right: 75px;
  }
}
