
/* CHARTS */

svg {
  min-height: 300px;
}
#chartWordsAll, #chartWordsUser, #chartFavLine svg {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}
#chartFavPie svg {
  height: 350px !important;
  width: 350px !important;
}
