<template name="low">
{{#if Template.subscriptionsReady}}
  <div class="low">
    <section class="some-area fill-height-or-more">

            {{> backwardLow }}

          <div class="content-entry">

              {{#with entry}}
                {{#if getSession 'lesen'}}
                  {{> modusLesenLow}}
                {{/if}}
                {{#if getSession 'wort'}}
                  {{> modusWortLow}}
                {{/if}}
                {{#if getSession 'definition'}}
                  {{> modusDefinitionLow}}
                {{/if}}

                {{#if lengthIsOne}}
                  <div class="ui orange message text-center">
                      <span class="flag animate-box fadeInUp animated">
                        {{#if getSession 'navSourceFav'}}
                          <h3>Letzter Favorit <i class="icon frown"></i></h3>
                        {{/if}}
                        {{#if getSession 'navSourceNotFav'}}
                          <h3>Letzter Begriff der nicht favorisiert ist.</h3>
                        {{/if}}
                      </span>
                  </div>
                {{/if}}

                {{> navLow }}

              {{/with}}

          </div>

          {{> forwardLow }}

    </section>
  </div>
{{else}}
  <div class="ui container low">
    {{> loading}}
  </div>


{{/if}}
</template>
