<template name="trainer">
	<div class="container">
		<br>
		<div class="row text-center">
			<div class="col-sm-6">
				{{> navModeTrainer }}
			</div>
			<div class="col-sm-6">
				{{> navSourceTrainer }}
			</div>
		</div>
		<br>
		<div class="row">
			{{#unless isAlphabetic}}
				<p class="alert alert-warning">Tipp: Das gesuchte Wort enthaelt nur Zeichen des Alphabets (a - Z). Keine Leer- und Sonderzeichen.</p>
			{{/unless}}
			{{#unless isLength64}}
				<p class="alert alert-warning">Tipp: Das gesuchte Wort enthaelt nicht mehr als 64 Zeichen.</p>
			{{/unless}}

			<div class="media">

				{{> backward }}

				<div class="media-body">
					{{#if Template.subscriptionsReady}}
						{{#with entry}}
							{{#if getSession 'lesen'}}
								{{> modusLesen}}
							{{/if}}
							{{#if getSession 'wort'}}
								{{> modusWort}}
							{{/if}}
							{{#if getSession 'definition'}}
								{{> modusDefinition}}
							{{/if}}
							{{#if getSession 'eingabe'}}
								{{> modusEingabe }}
							{{/if}}
						{{/with}}
					{{else}}
						{{> loading}}
					{{/if}}
				</div>

				{{> forward }}

			</div>
		</div>
	</div>
</template>
