<template name="modusBedeutung">

	<div class="jumbotron">
		<div class="text-center media-middle">
			{{#if lengthIsOne}}<span class="label label-warning">Letzter Eintrag</span>{{/if}}
				<h2>
					{{ term }}
				</h2>
		</div>

		<hr>
		<div class="btn-switch text-center">
			<i class="fa fa-retweet fa-4x"></i>
			{{#if getSession "termMode"}}
				<span class="label label-info">Gesucht: Wort</span>
			{{else}}
				<span class="label label-info">Gesucht: Bedeutung</span>
			{{/if}}
		</div>
		<hr>

		{{#unless getSession "revealed"}}
		<div class="text-center media-middle">
			<div class="btn-reveal">
				<i class="fa fa-question fa-4x"></i>
			</div>
		</div>
		{{else}}
		<h3>
			<ol>
				<li>{{ description }}</li>
			</ol>
		</h3>
		{{/unless}}
	</div>

</template>
