<template name="trainerEingabe">

	<div class="container">

		{{#unless isAlphabetic}}
			<p class="alert alert-warning">Tipp: Das gesuchte Wort enthaelt nur Zeichen des Alphabets (a - Z). Keine Leer- und Sonderzeichen.</p>
		{{/unless}}
		{{#unless isLength64}}
			<p class="alert alert-warning">Tipp: Das gesuchte Wort enthaelt nicht mehr als 64 Zeichen.</p>
		{{/unless}}


		<div class="media">
			{{#if lengthIsOne}}
			<div class="media-left media-middle">
				<i class="fa fa-ban fa-4x"></i>
			</div>
			{{else}}
			<div class="media-left media-middle btn-backward">
				<i class="fa fa-chevron-left fa-4x"></i>
			</div>
			{{/if}}

			<div class="media-body">
				{{#if Template.subscriptionsReady}}
					{{#with entry}}


					<div class="jumbotron">

						{{#if lengthIsOne}}<span class="label label-warning">Letzter Eintrag</span>{{/if}}

						<div class="media">
							<div class="media-left btn-reveal">
									{{#unless getSession 'revealed'}}
										<i class="fa fa-question fa-4x"></i>
									{{else}}
										<i class="fa fa-exclamation fa-4x"></i>
									{{/unless}}
							</div>
							<div class="media-body">
								{{#unless getSession 'revealed'}}
									{{#if getSession 'termWrong'}}
										<p class="alert alert-warning">Zu {{termPercent}}% bisher richtig: {{getSession 'termCache'}}</p>
									{{/if}}
									{{#if getSession 'termRight'}}
										<p class="alert alert-success">Richtig: {{term}}</p>
									{{/if}}
								{{else}}
									<p class="alert alert-info">Loesung: {{term}}</p>
								{{/unless}}
							</div>
						</div>

						<div class="input-group-lg ">
						      <input type="text" name="term" id="term" class="form-control" placeholder="Was ist...">
						</div>
						<hr>

						<h3>
						<ol>
							<li>{{ description }}</li>
						</ol>
					</h3>
					</div>

					{{/with}}
				{{else}}
					{{> loading}}
				{{/if}}
			</div>

			{{#if lengthIsOne}}
			<div class="media-right media-middle">
				<i class="fa fa-ban fa-4x"></i>
			</div>
			{{else}}
			<div class="media-right media-middle btn-forward">
				<i class="fa fa-chevron-right fa-4x"></i>
			</div>
			{{/if}}
		</div>
	</div>

	<br>

</template>
