<template name="trainer">

  <div class="container">
    <h1>Trainer</h1>

    <div class="row text-center">
      <div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
        <button type="button" class="btn btn-default">Lesen</button>
        <button type="button" class="btn btn-default">Abfragen mit Eingabe</button>
        <button type="button" class="btn btn-default">Abfragen ohne Eingabe</button>
      </div>
    </div>
<br>
    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
      sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
    </p>
  </div>

</template>
