<template name="impressum">
<div class="ui container">
	<h1>Impressum</h1>
	<h2>Angaben gemäß § 5 TMG:</h2>
	<p>Institut für Informatik
		<br>  LFE Medieninformatik
		<br />  Amalienstraße 17
		<br />  80333 München
	</p>
	<h2>Vertreten durch:</h2>
	<p> Univ.-Prof. Dr. Heinrich Hußmann, Ordinarius
	</p>
	<h2>Kontakt:</h2>
	<table>
		<tr>
			<td>Telefon:</td>
			<td> 	+49-89/2180-4670</td>
		</tr>
		<tr>
			<td>E-Mail:</td>
			<td>daniel.buschek@ifi.lmu.de</td>
		</tr>
	</table>
	<h2>Umsatzsteuer-ID:</h2>
	<p>Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:
		<br /> DE 811205325</p>
	<h2>Aufsichtsbehörde:</h2>
	<p>Bayerisches Staatsministerium für Wissenschaft, Forschung und Kunst</p>
	<h2>Hinweis auf EU-Streitschlichtung</h2>
	<p>Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: <a href="http://ec.europa.eu/consumers/odr">http://ec.europa.eu/consumers/odr</a>
		<br /> Unsere E-Mail-Adresse finden sie oben im Impressum. </p>
	<p> </p>
	<p>Quelle: <em><a href="https://www.e-recht24.de">https://www.e-recht24.de</a></em></p>
</div>
</template>
