<template name="letterCollapse">
  <div class="panel-body">
    {{#each entries}}
      {{> registerEntry }}
    {{/each}}
  </div>
</template>

<!--
<div class="media">
  <div class="media-body story-body">

      <h2 class="register-title">{{ term }}</h2>

  </div>
  {{#if isFavourite this._id}}
    <div class="media-right media-middle btn-delete">
        <i class="fa fa-trash-o fa-4x"></i>
    </div>
  {{else}}
    <div class="media-right media-middle btn-insert">
        <i class="fa fa-heart-o fa-4x"></i>
    </div>
  {{/if}}
</div> -->
