<template name="register">

    <div class="ui container">
      <br>
      <div class="ui fluid input icon">
        <input autofocus type="text" name="search" placeholder="Finde einen Begriff...">
        <i class="search icon big"></i>
      </div>
      <br>
    </div>
    <!-- <div class="ui container">
      {{> paginationBar itemsPerPage=3 window=5 count='total_posts'}}
    </div> -->
    <div class="ui {{#if query}}container{{/if}} ">
      {{#if Template.subscriptionsReady}}
        {{#if searching}}
          {{> loading}}
        {{else}}
            <div class="ui relaxed list {{#unless query}}register-list{{/unless}} ">
            {{#each vocabulary}}
              {{#if query}}
                <div class="item">
                  <h3 class="ui dividing header">
                    {{letter}}
                  </h3>

                  {{>letterCollapse}}
                </div>
              {{else}}
                <blockquote>
                  <div class="item">
                    <h3 class="ui dividing header">
                      {{letter}}
                    </h3>

                    {{>letterCollapse}}
                  </div>
                </blockquote>
              {{/if}}
            {{else}}
              <p class="ui orange message">Nichts gefunden unter dem Begriff " {{query}} ".</p>
            {{/each}}
            </div>
        {{/if}}
      {{else}}
        {{> loading}}
      {{/if}}



          <!-- {{#if Template.subscriptionsReady}}
            {{#if searching}}
              <ul class="list-group">
                {{#if searching}}

                {{else}}
                  <p class="ui orange message">Nichts gefunden unter dem Begriff " {{query}} ".</p>
                {{/if}}
              </ul>

            {{else}}

              <div class="ui styled fluid accordion">
                {{#each vocabulary}}
                <div class="title">
                  <i class="dropdown icon"></i>
                  {{letter}}
                </div>

                <div class="content">
                  <p class="transition hidden">
                    {{>letterCollapse}}
                  </p>
                </div>
                {{/each}}
              </div>
            {{/if}}
          {{else}}
            {{> loading}}
          {{/if}} -->


  </div>

</template>
