<template name="search">
  <div class="page-header clearfix">
    <h4 class="pull-left">Vokabelregister A - Z</h4>
    <div class="pull-right">
      <input type="text" name="search" class="form-control" width="300px" placeholder="Finde einen Begriff...">
    </div>
  </div>

  <ul class="list-group">
    {{#if searching}}
      {{> loading}}
    {{else}}
      <!-- {{#each vocabulary}}
        <li class="list-group-item clearfix">
          <span class="pull-left"><strong>{{term}}</strong></span>
          <span class="pull-right">{{description}}</span>
        </li>
      {{else}}
        <p class="alert alert-warning">Nichts gefunden unter dem Begriff " {{query}} ". Sorry!</p>
      {{/each}} -->
      {{#each vocabulary}}
      <h3>{{letter}}</h3>
      {{#each entries}}
        <li class="list-group-item clearfix">
          <span class="pull-left"><strong>{{term}}</strong></span>
          <span class="pull-right">{{description}}</span>
        </li>
        {{/each}}
      {{else}}
        <p class="alert alert-warning">Nichts gefunden unter dem Begriff " {{query}} ". Sorry!</p>
      {{/each}}
    {{/if}}
  </ul>
</template>
