<template name="docWidget">
	<div>
		<h2>Erste Schritte</h2>
		<p>
			Die Fremdworttrainer-App verfügt über ein Wortregister und einen Trainer mit 4 Übungsmethoden.
		</p>
		<p>
			Im <b>Register</b> findest du eine Auflistung aller vorhandenen Begriffe. Begriffe können favorisiert oder von der Favoritenliste entfernt werden.
		</p>
		<p>
			Im <b>Trainer</b> kannst du aus 4 verschiedenen Übungsmethoden wählen: 'Lesen', 'Rate Wort', 'Rate Definition' und 'Eingabetest'.
			<br> Des weiteren hast du die Möglichkeit die Quelle der Wörter auszuwählen. Entweder das komplette Register ('Alle'),
			nur favorisierte Begriffe ('Favoriten') oder das komplette Register ohne Favoriten ('Alle ohne Favoriten'). <br>
			Wörter können sowohl im Register als auch mit aktivierter Methode 'Lesen' sowohl im Trainer als auch im Kompaktmodus zu der Liste der Favoriten hinzugefügt
			oder entfernt werden.
		</p>
		<p>
			Am Seitenkopf findest du eine Switch-Button-Leiste, mit der du in den <b>Kompaktmodus</b> und wieder zurück wechseln kannst.<br>
			Der Kompaktmodus bietet dir eine alternative Benutzeroberfläche für den Trainer.
			Die Methode 'Eingabe' ist im Kompaktmodus nicht vorhanden.
		</p>

		<a class="ui button primary large btn-question" href="{{pathFor 'doc'}}">Mehr</a>
	</div>
	<br>
</template>
