<template name="faqWidget">
	<div class="list-post">
		<p class="categories">
			FAQ
		</p>
		<h2 class="category-title">Erste Schritte</h2>
		<p class="body-text">
			Der Fremdworttrainer verfuegt ueber ein Wortregister und einen Trainer mit 4 Modi.
			<br> Im <i>Wortregister</i> findest du eine Auflistung aller registrierten Begriffe. Begriffe koennen favorisiert werden und werden dann dort separat gelistet.
			<br> Im <i>Trainer</i> kannst du aus 4 verschiedenen Uebungsmodi waehlen: 'Lesen', 'Wort', 'Bedeutung' und 'Eingabe'.
			<br> Des weiteren hast du die Moeglichkeit die Quelle der Woerter auszuwaehlen. Entweder das komplette Register (inkl. Favoriten) oder ausschliesslich Favoriten. Woerter koennen sowohl im Register als auch im Modus 'Lesen' zur Favoritenliste hinzugefuegt und entfernt werden.
			<br> Am Seitenkopf findest du eine Switch-Button-Leiste, mit der du in den <i>Kompaktmodus</i> und wieder zurueck wechseln kannst. Der Modus 'Eingabe' ist im Kompaktmodus nicht vorhanden.
		</p>
		<a class="btn btn-standard-1 btn-question" href="{{pathFor 'faq'}}">Mehr</a>
	</div>
</template>
