<template name="feedbackClient">
  <p>
    Feedback
  </p>
  <h2>Hier hast du die Möglichkeit uns zwischendurch Rückmeldung zu geben.</h2>
  <p class="meta">Ansonsten kannst du dich auch am Ende Testlaufs im Fragebogen äußern.</p>
<div>
  {{#autoForm collection="Data.Feedback" id="insertFeedbackForm" type="insert"}}
  <fieldset>
    {{> afQuickField name="message"}}
    <div>
      <button type="submit" class="ui large primary button">Senden</button>
      <button type="reset" class="ui large button">Zurücksetzen</button>
    </div>
  </fieldset>
  {{/autoForm}}
</div>
</template>
