<template name="termDay">
	{{#if Template.subscriptionsReady}}

			<h2>DEIN WORT DES TAGES</h2>

			{{#if termDay}}
				{{#with termDay}}
				<div>
					<br>
					<h1>{{ term }}{{#if preposition}} <i>{{ preposition }}</i>{{/if}}</h1>
				</div>
				<br>
				<div class="ui horizontal divider fadeInUp animated">
					{{ wordClass }}
				</div>
				<div>
					<div class="ui selection list">
						{{#each definition}}
						<div class="left aligned">
							<div class="ui small horizontal statistic">
								<div class="value low">
									{{convertIndex @index}}
								</div>
								<div class="trainer-definition">
									{{this}}
								</div>
							</div>
						</div>
						{{/each}}
					</div>
				</div>
					{{#if isFav this._id}}
						<div class="btn btn-delete flipInY animated">
							<i class="heart icon huge red"></i>
						</div>
					{{else}}
						<div class="btn btn-insert flipInY animated">
							<i class="empty heart icon huge red"></i>
						</div>
					{{/if}}
				{{/with}}
			{{else}}
				<h1>Ups!</h1>
			{{/if}}

	{{else}}
		{{> loading}}
	{{/if}}
</template>
