<template name="wordsAll">
	{{#if Template.subscriptionsReady}}
		{{#if top5}}
			<h4 class="ui horizontal divider header">
				<i class="users icon"></i>
				Gesamt Top 5
			</h4>
				{{#each top5}}
					<p class="top5">
						<div class="ui horizontal statistic">
						  <div class="value">
						    {{convertIndex @index}}
						  </div>
						  <div class="label">
						    {{term}}
						  </div>
						</div>
					</p>
				{{/each}}

		{{/if}}
	{{else}}
		{{> loading}}
	{{/if}}

</template>
